TIMEOUT_SECONDS=45
CURRENT_ENV=test
ALLOW_CORS=true
DOMAIN=https://yoursuperdomain.com
ENDPOINT=wss://hooks-testnet.xrpl-labs.com

XRPL_SOURCE_ACCOUNT=rXXX
XRPL_SOURCE_ACCOUNT_SECRET=sXXX
XRPL_DESTINATION_ACCOUNT=rYYY
XRPL_DESTINATION_ACCOUNT_SECRET=sXXX
